.input-text-area {
    display: flex;
    flex-flow: row wrap;
}
.img-render {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
}
.add-nk-area {
    padding: 0 10px;
    margin-top: 5px;
}
