:root {
    --bgc-account: #eff1f4;
}

.profile-setting {
    background-color: var(--background-color-default);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 50px 20px 0px 20px;
    margin: 0 auto;
}

.profile-info {
    width: 100%;
    background-color: var(--background-color-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    gap: 60px;
}
h4 {
    color: blue;
}

.MuiTabPanel-root {
    margin: 0 auto;
}
